<% value = @name && @name.last_name || '' %>
<form id="last_name_form">
  <label for="last_name_input">Enter your surname</label><input name="last_name" id="last_name_input" type="text" value="<%= value %>" /><input id="last_name_submit" type="submit" value="How awesome?" />
</form>
