<%# variables: "ranking", the return value from Name#quebec_top1000_ranking %>
<p>
  This is the <strong>#<%= ranking[:rank] %></strong> surname in Quebec.
  About <%= number_with_delimiter(ranking[:approximate_population]) %> <%= ranking[:last_name]%>s live in Quebec.
</p>

