<h1>Surname awesomeness detector</h1>

<form>
  <label>
    Your surname:
    <input name="last_name" id="last_name_input" type="text" />
  </label>
  <input type="submit" value="How awesome is this surname?" />
</form>
