$awesome_color: #e46900;

body {
  font: 100% Helvetica, Arial, sans-serif;
  background-color: #f3f3f3;
  margin: 1em;
}

form#last_name_form {
  text-align: center;
  margin: 1em 0;
  font-size: 2em;

  label {
    display: block;
  }

  input#last_name_input {
    display: block;
    width: 90%;
    margin: .3em auto;
    font-size: 3em;
    text-align: center;
  }

  input#last_name_submit {
    font-size: 1;
    display: block;
    font-size: 100%;
    margin: .3em auto;
    width: 15em;
  }
}

div.data-set-result {
  clear: both;
  background-color: white;

  div.description, div.points {
    border-top: 10px solid black;
    padding: 5px;
    background: white;
    margin-bottom: 25px;
  }

  div.description {
    width: 65%;
    float: left;
    margin-right: 5px;
    border-bottom: 10px solid black;

    p {
      font-size: 130%;
    }
  }

  div.points {
    font-size: 110%;
    color: white;
    background-color: $awesome_color;
    width: 29%;
    text-align: right;
    float: left;

    span {
      display: block;
      font-weight: bold;
      font-size: 300%;
    }
  }

  ul.orders-of-canada, ul.orders-of-quebec, ul.stanley-cup-winners, ul.quebec-street-names, ul.canadiens {
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
      padding-left: 50px + 15px;
      height: 112px;
      width: 15em;
      margin-bottom: 5px;
      background-position: top left;
      background-repeat: no-repeat;

      span.name {
        display: block;
        font-weight: bold;
      }

      span.city, span.region, span.level, span.team, a {
        display: block;
        font-size: 90%;
        color: #666;
      }
    }
  }

  ul.orders-of-canada li {
    background-image: image-url('order-of-canada.png');
  }

  ul.orders-of-quebec {
    li.grand-officer {
      background-image: image-url('ordre-national-du-quebec-grand-officer.png');
    }
    li.officer {
      background-image: image-url('ordre-national-du-quebec-officer.png');
    }
    li.knight {
      background-image: image-url('ordre-national-du-quebec-knight.png');
    }
  }

  ul.canadiens li {
    background-image: image-url('canadiens.png');
  }

  ul.stanley-cup-winners li {
    background-image: image-url('stanley-cup.png');
  }

  ul.street-names li {
    padding-left: 0;
  }
}

div.summary {
  clear: both;

  p {
    font-size: 2em;
    text-align: center;

    strong {
      display: block;
      font-size: 8em;
      background: white;
      color: $awesome_color;
      text-align: center;
    }
  }
}
